.card{
    background-color: #d9dde6;
    color:rgb(0, 0, 0);
    padding:20px;
    text-align:center;
    border-radius:10px;
    gap:30px;
    height: 40vh;
    width:40vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform 0.3s ease;
}
.card:hover{
    transform: scale(1.1);


}
.icon{
    padding-top: 5px;
    height:60px;
    width:auto;
}
.card-title{
    color:black;
    text-align:center;
    font-family: poppins;
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 2vh;
}
.card-desc{
    font-family: poppins;
    font-size: 1rem;
    padding-top:2rem
}