.card{
    background-color: #e7eaf0;
    color:rgb(0, 0, 0);
    padding:20px;
    text-align:center;
    border-radius:10px;
    gap:20px;
    height: 35vh;
    width:35vh
}
.icon{
    height:50px;
    width:auto;
}
.card-title{
    color:black;
    text-align:center;

}